In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\emmaf\AppData\Local\Temp\ipykernel_26164\687462750.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [5]:
df = pd.read_csv('https://github.com/Reben80/Data110-32213/raw/main/dataset/titanic.csv')
df.head()

  class    age     sex  survived
0   1st  29.00  female  survived
1   1st   2.00  female      died
2   1st  30.00    male      died
3   1st  25.00  female      died
4   1st   0.92    male  survived